.archive {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: $color-text;
  transform: translateX(-50%);
  border: 1px solid red;
  height: 75vh;
  max-height: 825px;
  overflow: hidden;
  
    &__wrap {
    margin: 0 auto;
    width: 964px;
    
    &::after,
    &::before {
      content: '';
      display: table;
      clear: both;
    }
  }
  
  &__title {
//    margin-bottom: 38px;
    font-family: "DoulosSilr", "Georgia", "Times New Roman", "Times", serif;
    font-size: 36px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    
    span {
      position: relative;
      
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 135%;
        height: 1px;
        background-color: $color-text;
        transform: translateX(-50%);

      }
    }
  }
  &__content {
//    height: 500px;
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 9vh;
      background: url("../img/archive-shadow.png") repeat-x 0 0;
      background-size: contain;
      z-index: 4;
      opacity: 0.4;
    }
  }
  &__list {
    margin: 0 auto;
    width: 792px;
    height: 60vh;
    max-height: 750px;
  }
  &__date {
    border-top: 1px solid #9f8655;
    &:last-child {
      margin-bottom: 5vh;
      border-bottom: 1px solid #9f8655;
    }
  }
  &__event {
    padding: 23px 0;
    width: 100%;
    height: 210px;
    box-sizing: border-box;
    @include clearfix;
  }
  &__photo {
    float: left;
    width: 235px;
    height: 166px;
    img {
      max-width: 100%;
      height: auto
    }
  }
  &__text {
    float: right;
    width: 557px;
  }
  &__number {
    margin: 0;
    font-family: "DoulosSilr", "Georgia", "Times New Roman", "Times", serif;
    font-size: 24px;
    color: #9e8558;
  }
}