.archive {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: $color-text;
  transform: translateX(-50%);
//  height: 75vh;
  height: 84vh;
  max-height: 920px;
  overflow: hidden;
  
    &__wrap {
    margin: 0 auto;
    width: 964px;
    
    &::after,
    &::before {
      content: '';
      display: table;
      clear: both;
    }
  }
  
  &__title {
    font-family: "DoulosSilr", "Georgia", "Times New Roman", "Times", serif;
    font-size: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    
    span {
      position: relative;
      
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 135%;
        height: 1px;
        background-color: $color-text;
        transform: translateX(-50%);

      }
    }
  }
  &__content {
//    height: 500px;
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 9vh;
      background: url("../img/archive-shadow.png") repeat-x 0 0;
      background-size: contain;
      z-index: 4;
      opacity: 0.5;
    }
  }
  &__list {
    margin: 0 auto;
    width: 792px;
    height: 65vh;
    max-height: 750px;
  }
  &__date {
    border-bottom: 1px solid #9f8655;
    &:last-child {
      margin-bottom: 5vh;
      border-bottom: 0;
    }
  }
  &__event {
    padding: 23px 0;
    width: 100%;
    min-height: 210px;
    box-sizing: border-box;
    @include clearfix;
    font-size: 0;
  }
  &__photo {
    width: 235px;
    display: inline-block;
    height: 166px;
    vertical-align: top;
    img {
      max-width: 100%;
      height: auto
    }
  }
  &__description {
    padding-left: 50px;
    display: inline-block;
    width: 557px;
    vertical-align: top;
  }
  &__text {
    margin: 0;
    margin-bottom: 10px;
    font-family: "ArnoPro Light", "Georgia", "Times New Roman", "Times", serif;
    font-size: 22px;
    line-height: 1;
    color: #fff;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__number {
    margin: 0;
    font-family: "DoulosSilr", "Georgia", "Times New Roman", "Times", serif;
    font-size: 24px;
    color: #9e8558;
  }
  
  @media only screen and (max-width: 959px) {
  &__wrap {
    width: 684px
  }
  &__list {
    width: 560px
  }
  &__event {
    min-height: 159px
  }
  &__photo {
    width: 168px;
    height: 119px
  }
  &__description {
    width: 392px
  }
  &__number {
    font-size: 20px
  }
  &__text {
    font-size: 16px
  }
}
}