.slider {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    max-width: 1920px;
    max-height: 1080px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: black;
    overflow: hidden;
  transition: opacity 0.5s;
  &--show {
     opacity: 1;
  }
  &__slide img{
    max-width: 100%;
    height: auto;
  }
}

.main {
  position: absolute;
  bottom: 12%;
  left: 0;
  width: 100%;
  &--priviege {
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &__wrap {
    margin: 0 auto;
    width: 964px;
    
    &::after,
    &::before {
      content: '';
      display: table;
      clear: both;
    }
  }
}

.dish {
  padding: 31px;
  width: 472px;
  height: 213px;
  background-image: url("../img/bg_dish.png");
  background-size: 100%;
  
  display: none;
  &--show {
    display: block;
  }
  &--right {
    float: right;
  }
  &--left {
    float: left;
  }
  &__slide {
    height: 150px;
    font-family: "ArnoPro", "Georgia", "Times New Roman", "Times", serif;
    font-size: 22px;
    line-height: 1;
    text-align: center;
    color: $color-text-hover;
    overflow: hidden;
    outline: none;
  }
  
  &__img {
    margin-bottom: 15px;
    width: 100%;
    height: 48px;
    
    img {
      margin: 0 auto;      
    }
  }
  
  p {
    margin: 0;
  }
}
