.background {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  transform: translateX(-50%) translateY(-50%);
  background-repeat: no-repeat;
  background-position:  center center;
  background-size: cover;
  
  &--index {
    background-image: url("../img/bg_slider.jpg");
  }
  
  &--opera {
    background-image: url("../img/bg_opera.jpg");
  }
  
  &--grand {
    background-image: url("../img/bg_grand.jpg");
  }
  &--chaliapine {
    background-image: url("../img/bg_chaliapine.jpg");
  }
  &--pokerroom {
    background-image: url("../img/bg_pokerroom.jpg");
  }
  &--imperial {
    background-image: url("../img/bg_imperial.jpg");
  }
  &--blackjack {
    background-image: url("../img/bg_blackjack.jpg");
  }
  &--roulette {
    background-image: url("../img/bg_roulette.jpg");
  } 
  &--poker {
    background-image: url("../img/bg_poker.jpg");
  } 
  &--puntobanco {
    background-image: url("../img/bg_puntobanco.jpg");
  }  
  &--slots {
    background-image: url("../img/bg_slots.jpg");
  } 
  &--louis {
    background-image: url("../img/bg_louis.jpg");
  }
  &--buffet {
    background-image: url("../img/bg_buffet.jpg");
  }
  &--bar {
    background-image: url("../img/bg_bar.jpg");
  }
  &--priviege {
    background-image: url("../img/bg_priviege.jpg");
  }  
  &--clubday {
    background-image: url("../img/bg_clubday.jpg");
  } 
  &--stage {
    background-image: url("../img/bg_stage.jpg");
  }
}