.curtain-front {
  padding: 0;
  margin: 0 auto;
  z-index: 5;
  width: 716px;
  height: 1080px;
  position: absolute;

  &--right {
    top: 50%;
    left: 100%;
    background: url("../img/curtain-right.png") no-repeat 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-70%, -50%);
  }

  &--left {
    top: 50%;
    left: 0;
    background: url("../img/curtain-left.png") no-repeat 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-30%, -50%);
  }
}

.curtain-back {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  padding: 0;
  margin: 0 auto;
  width: 1920px;
  height: 1080px;
  background: url("../img/bg.jpg") no-repeat 50% 50%;
  transform: translate(-50%, -50%);
  opacity: 2;
  transition: all 6s;

  &::after,
  &::before {
    content: '';
    display: table;
    clear: both;
  } 
}

.curtain--hide {
  transform: translate(-50%,-350%);
}