.fullslider {
  position: absolute;
  top: 0; 
  left: 0;
  display: block;
  width: 100vh;
  max-width: 1920px;
  height: 100vh;
  max-height: 1080px;
  background: #fff;
  z-index: -2;
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}