.main-footer {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 46px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 50px;
  font-weight: 100;
  color: $color-text;
  text-align: center;
  background-color: #0c0803;
}

.main-footer__copyright {
  margin: 0;
}